Properly implement CNAME records

Right now it appears that `CNAME` records are only queried when directly asked for - this means that by default, they won't work in most situations because most clients just go ask for the `A` or `AAAA` records.

Following along with [RFC 1034 Section 3.6.2](https://www.rfc-editor.org/rfc/rfc1034#section-3.6.2):

> CNAME RRs cause special action in DNS software.  When a name server
fails to find a desired RR in the resource set associated with the
domain name, it checks to see if the resource set consists of a CNAME
record with a matching class.  If so, the name server includes the CNAME
record in the response and restarts the query at the domain name
specified in the data field of the CNAME record.  The one exception to
this rule is that queries which match the CNAME type are not restarted.

Thus, it appears coredns-pdsql should almost always be checking for a CNAME if no other records appear for the host and then returning that record along with the requested information. The standard indicates that if a `CNAME` record is present then no other information should be there for the host, so there shouldn't be a concern about some `A` records and some `CNAME` records coming back at the same time.

Note: I've got a patch for this, that I'll submit after I've had a chance to clean up my source tree some.

@pridkett @wenerme 
Please, check out my proposal at:
[Resolve CNAME Request into A Record](https://github.com/wenerme/coredns-pdsql/pull/11)
this could provide this feature.